.item{
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 30px 10px;
}

.item__about{
  margin-left: 15px;
}

.item__title{
  font-size: 20px;
}

body {
  background-color: #f0f2f5;
}

.raiting{
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0,0,0,.15);
  padding: 25px;
}

.raiting__title{
  text-align: center;
  margin-bottom: 30px;
}

.item__description{
  margin-top: 10px;
  font-size: 18px;
}

::selection {
  background: #1ea01e; /* Safari, Chrome, Opera */
  color: #fff;
}
::-moz-selection {
  background: #1ea01e; /* FireFox */
  color: #fff;
}

.item__logo{
  width: 150px;
  min-width: 150px;
  position: relative;
}

.item__logo img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}